
.faq{
    h1{
        font-size: 3em;
    }
    .question{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        p{
            color: #000;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 800;
            margin: 0;
        }&:hover{
            cursor: pointer;
        }
    }
    .answer{
        color: blue;
    }
}



@media only screen and (max-width: 600px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}