
.faq{
    h1{
        font-size: 2em;
    }
    .active{
            .question{
                p{
                    color: #FE6C2D;
                }
            }
            .answer{
                height: 100%;
                p{
                    opacity: 1;
                }
            }
            .chevron{
                img{
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                }
            }
    }
    .questionContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        transition: 500ms;
        margin-bottom: 20px;
        align-items: center;
        .chevron{   
            text-align: right;
            width: 10%;
                img{
                transition: 300ms;
                height: 50px;
                }
        }
        .question{
            color: #000;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 800;
            margin: 0;
            width: 90%;
            p{
                margin: 0;
            }
        }&:hover{
            cursor: pointer;
        }
    }
    .answer{
        width: 90%;
        max-width: 900px;
        height: 0;
        transition: 275ms cubic-bezier(.17,.67,.83,.67);
        p{
            transition: 200ms;
            opacity: 0;
            z-index: -5;
            position: relative;
        }
    }
}



@media only screen and (min-width: 600px) {
    .faq{
        h1{
            font-size: 3em;
        }
        .questionContainer{
            margin-bottom: 40px;
            .question{
                font-size: 1.5em;
            }
        }
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {

}