  .heroBanner{
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    height: 70vh;
    
    img{
      max-height: 80vh;
      width: 100%;
    }

    h1{
        margin-bottom: 5px;
    }
    .content{
        position: absolute;
        top: 15%;
        left: 15%;
      }
      .slogan{
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
      }    
      .mountain{
        position: absolute;
        bottom: -1px;
        left: 0;
      }

      .heroImage{
        background-size: cover;
        background-position: center;
        height: 100%;
      }
      .opacity{
        position: absolute;
        top: 0;
        bottom: 3px;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.35);
      }
  }

@media only screen and (max-width: 600px) {
  .heroBanner{
    height: 40vh;

  }
};

@media only screen and (min-width: 600px) {

};

@media only screen and (min-width: 768px) {

};

@media only screen and (min-width: 992px) {

};

@media only screen and (min-width: 1200px) {

};