.news{
    background-color: #E4E4E4;
    padding: 30px 0;
    h2{
        font-size: 3em;
        color: #000;
        text-align: center;
        margin: 0;
        text-transform: uppercase;
    }
    .ctaButton {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 200px;
      }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .newsItem{
        margin: 30px 0;
        text-decoration: none;
        color: #000;
        width: 100%;
        background-color: #fff;
        padding-bottom: 75px;
        transition: 200ms;
        &:hover{
            box-shadow: 0 0 60px rgba(0,0,0,.50)
        }
        .content{
            padding: 1em 2.5em;
            position: relative;
            top: -5px;
            h3{
                font-size: 2em;
                margin: 0;
            }

        }
        .thumbImg{
            position: relative;
            height: 100%;
            background-size: cover;
            height: 350px;
            .mountain{
                position: absolute;
                bottom: -2px;
        }
        }
    }
}

@media only screen and (max-width: 600px) {

  };
  
  @media only screen and (min-width: 600px) {

  };
  
  @media only screen and (min-width: 768px) {
  
  };
  
  @media only screen and (min-width: 992px) {
    .news{
        padding: 75px 0;
        .container{
            flex-direction: unset;
        }
        .newsItem{
            width: 40%;
            margin: 75px 0;
            .thumbImg{
                height: 300px;
            }
        }
    }
  };
  
  @media only screen and (min-width: 1200px) {

  };