
.newsContainer{
  h2{
    text-align: left;
    color: #BEBEBE;
    font-size: 3em; 
    text-transform: uppercase;
    margin-left: 15px;
  }
  .opacity{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0,0,0, 0.1);
  }
  .newsItem{
    margin: 0 15px;
    position: relative;
    transition: 200ms;
    margin-bottom: 30px;
    width: 100%;
    &:hover{
      box-shadow: 0 0 60px rgba(0,0,0,.5);
    }
  }
  .newsItems{
    display: flex;
    flex-wrap: wrap;

    .featuredItem{
      .content{
        h3{
          font-size: 1.5em;
        }
      }
    }

    .content{
      padding: .5em 1.7em;
      position: absolute;
      bottom: 0;
      z-index: 5;
      background-color: rgba( 0,0,0,0.7);
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date {
        width: 15%;
        text-align: right;
        p{
            font-size: 0.9em;
            color: lightgray;
            color: #fff;
        }
      }
      h3{
          width: 85%;
          font-size: 1.2em;
          padding: 0 .3em;
          margin: 0;
          color: #fff;
          text-transform: uppercase;
      }
    }
    .thumbImg{
        height: 100%;
        background-size: cover;
        height: 400px;  
    }

   }
};

@media only screen and (max-width: 768px) {
  .newsBanner{
    .heroImage{
      background-position: 17% !important;
    }
  }
  .newsContainer{
    h2{
      display: none;
    }
    .opacity{
      background-color: rgba( 0,0,0, 0.1);
    }
    .newsItem{
      width: 95%;
      margin: 0 auto 30px auto;
    }
    .featuredItem{  
      width: 95%;
    }
    .newsItems{
      flex-direction: column;

      .featuredItem{
        .content{
          h3{
            font-size: 1.2em;
          }
        }
      }
      .content{
          h3{
              font-size: 1em;
          }
      }
      .thumbImg{
          height: 100%;
          background-size: cover;
          height:300px;  
      }
    }
  }
};

@media only screen and (min-width: 768px) {
};

@media only screen and (min-width: 1200px) {
  .newsContainer{
    .newsItems{
      .newsItem{
        width: calc(33.3333% - 30px);
      }
      .featuredItem{
        width: calc(50% - 30px);
      }
    }
  }
};