.secondaryBanner{
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    height: 55vh;
    margin-bottom: 3em;
        h1{
          margin-bottom: 10px;
          font-size: 3em;
          color: #fff;
          text-align: center;
        }
        .slogan{
          font-size: 1.2rem;
          color: #fff;
          text-transform: uppercase;
        }    
        .content {
          position: absolute;
          left: 0;
          right: 0;
        }
        .mountain{
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 50%;
        }
        .heroImage{
          background-size: cover;
          background-position: top;
          height: 100%;
          max-height: 80vh;
          width: 100%;
        }
        .opacity{
          position: absolute;
          top: 0;
          bottom: 0px;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.3);
        }
  }


  @media only screen and (max-width: 600px) {

}
@media (max-width: 768px) {
    .secondaryBanner{
        height: 30vh;
        h1{
          font-size: 2em;
        }
        .content {
          text-align: center;
          top: 20px;
          left: 0;
          right: 0;
        }
        .opacity{
          background-color: rgba(0,0,0,0.5);
        }
        .mountain{
          width: 100%;
        }
      }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}