.site-header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-header .mainNav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }
  .logo{
    div{
      height: 45px;
      img{
        height: 100%;
      }
    }
  }
  .site-header .mainNav a:hover{
    color: #00999D;
  }
  .site-header .mainNav li{
    display: inline-table;
    padding: 0 20px;
  }
  
  .site-header .navContainer{
    padding: 5px 30px;
  }
  .site-header{
    background-color: #000;
  }