// Colors.
$main:     #E25E0E;
$secondary:#bebebe;
$dark:     #2b2e38;

$gray:     #464a55;
$grayblue: #5b6880;
$accent:   #a0a8af;
$border:   #f0f1f2;
$light:    #f4f5f6;
$white:    #ffffff;
$yellow:   #f6d819;
$textblue: #5b6880;
$textfoot: #8491a8;