body{
  padding-top: 50px;
}
.site-header{
  z-index: 101;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-right: 15px;
  box-shadow: 0 0 60px rgba(0,0,0,.27);
  @include respond-to('md') {
    padding-right: 0px;
  }
  .navContainer{
    width: 100%;
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mainNav{
      a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        &:hover{
          color: $main;
        }
      }
      li{
        display: inline-table;
        padding: 0 20px;
      }
      .current_page_item{
        a{
          color: $main;
        }
      }
    } 
    .logo{
      background: #fff;
      height: 50px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      position: relative;
      a{
        display: flex;
        align-items: center;
      }
      .skew{
        transform: skew(-22deg);
        height: 50px;
        background: #fff;
        width: 23px;
        position: absolute;
        right: -12px;
        display: none;
        @include respond-to('xs') {
          display: unset;
        }
      }
      img{
        height: 45px;
      }
    }
  }
} 
.navOverlay{
  transform: translateX(-100%);
  width: 55vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  transition: transform .3s;
  will-change: transform;
}
.active{
  transform: unset;
}
  .mainNav{
    display: none;
  }

  // Mobile NAV
  .mobileNav{
    height: 40px;
    .openNav{
        filter: brightness(0) invert(1);
        height: 40px;
        width: 40px;
    }
    .mobileContent{
      width: 45vw;
      background-color: #fff;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 999;
      height: 100vh;
      transform: translateX(100%);
      transition: transform .3s;
      will-change: transform;
      .closeNav{
        width: 100%;
        text-align: right;

        display: flex;
        justify-content: end;
        height: 50px;
        align-items: center;
        img{
          width: 40px;
          height: 40px;
          padding-right: 15px;
        }
      }
  
      ul{
        padding: 1em 0 0 1em;
        width: 80%;
        margin: 0 auto;
        .current_page_item{
          a{
            color: $main;
          }
        }
        li{
          list-style: none;
          text-transform: uppercase;
          margin: 20px 0;
          
          a{
            font-family: Maven Pro;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            &:hover{
              color: $main;
            }
          }
        }
      }
    }
    .active{
      transform: unset;
    }
  }


  @media only screen and (max-width: 400px) {
    .mobileNav .mobileContent ul li a{
      font-size: 15px;
    }
    .mobileNav .mobileContent ul{
      width: 100%;
    }
    .mobileNav .mobileContent{
      width: 55vw;
    }
    .navOverlay{
      width: 45vw;
    }
  }

  @media (min-width: 1000px) {
    .site-header{
      padding: 5px 0;
      height: 50px;
    }
    .mobileNav{
      display: none;
    }
    .mainNav{
      display: unset;
    }

    .navOverlay{
      display: none;
    }
    .site-header .content .logo div{
      height: 45px;
    }
  }

  