.projectDetail{
    h1{
        font-size: 1.6em;
        @include respond-to('sm') {
            font-size: 3em;
        }
    }
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 750px;

        a{
            margin-top: 20px;
        }
    }
};