.projects{
    .content{
        max-width: 750px;
        margin: 0 auto;
        h2,p{
            margin: 0;
        }
        .textBlock{
            position: relative;
            margin: 100px 0;
            img{
                position: absolute;
                top: 0;
                left: -75px;
                width: 60px;
                height: 60px;
                display: none;
                filter: invert(91%) sepia(0%) saturate(0%) hue-rotate(249deg) brightness(86%) contrast(87%);
                @include respond-to('md') {
                    display: unset;
                  }
            }
            .smallCtaButton{
                font-size: 1em;
                margin-top: 15px;
            }
        }
    }
}
