.single{
    .ctaButton{
        font-size: 1em;
        padding: .7em 1em;
    }
    .overview{
        text-align: center;
        margin-top: 3em;
    }
    .content{
        .contentBlock{
            margin: 3em 0;
        }
        .textBlock{
            margin: 3em 0;
            max-width: 700px;
            margin: 0 auto;
            iframe{
                max-width: 100%;
                min-width: 100%;
                min-height: 300px;
                @include respond-to('sm') {
                    min-width: 80%;
                  }

            }
        }
        .firstText{
            margin-top: 0;
        }
        .textBlockImage{
            text-align: center;
            img{
                margin: 0;
                max-width: 100%;
                max-height: 55vh;
                min-height: 250px;
                object-fit: cover;
            }
        }
    }

}