.single{
    .ctaButton{
        font-size: 1em;
        padding: .7em 1em;
    }
    .overview{
        text-align: center;
        margin-top: 3em;
    }
    .singleBanner{
        position: relative;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 700;
        height: 30vh;
        width: 100%;
        padding: 0;
        min-height: 300px;
 
        .bannerTitle {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            top: 50px;
            h1{
                font-size: 1.7em;
                color: #fff;
                font-weight: 800;
                padding: 0 1em;
            }
        }
        .mountain{
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 100px;
            display: none;
        }

        .heroImage{
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
        }
        .opacity{
            position: absolute;
            top: 0;
            bottom: 0px;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.35);
        }
    }
    .content{
        .contentBlock{
            margin: 3em 0;
        }
        .textBlock{
            margin: 3em 0;
            max-width: 700px;
            margin: 0 auto;
            iframe{
                width: 100%;
            }
        }
        .firstText{
            margin-top: 0;
        }
        .textBlockImage{
            text-align: center;
            img{
                margin: 0;
                max-width: 100%;
                max-height: 55vh;
                min-height: 250px;
                object-fit: cover;
            }
        }
    }

}

@media only screen and (max-width: 600px) {

};

@media only screen and (min-width: 768px) {
    .single{

        .singleBanner{
            .bannerTitle {
                h1{
                    font-size: 2.5em;
                }
            }
        }
    }
};

@media only screen and (min-width: 992px) {
    .single{

        .singleBanner{
            height: 40vh;
            min-height: 400px;
        }
    }
};

@media only screen and (min-width: 1200px) {
    .single .singleBanner .mountain{
        display: unset;
    }
    .single{
        .singleBanner{
            min-height: 450px;
            height: 60vh;
            width: unset;
            .bannerTitle {
                h1{
                    font-size: 4em;
                    padding: 0 2em;
                }
            }
        }
    }

};